APP_NAME=应用名
# 是否开启异常过滤器
ERROR_FILTER=true
# 是否开启跨域
CORS=true
# API 前缀
PREFIX=/api
# 文档前缀
SWAGGER_PREFIX=api
# API 版本
VERSION=1
# 是否开启日志
LOG_ON=true
# 日志级别: error, warn, info, debug, verbose
LOG_LEVEL=info
# 日志目录
LOG_DIR=logs
# 端口
PORT=3000

#JWT
JWT_SECRET=xxx
JWT_REFRESH_SECRET=xxx

# 数据库配置
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE=postgres
# 数据库模式是否应在每次应用启动时自动创建
DB_SYNC=true
# 是否应在每次应用启动时自动运行迁移
DB_MIGRATIONS_RUN=true
# 最大连接数
DB_POOL_SIZE=10
# 最小连接数
DB_POOL_MIN=2

# redis配置
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

# 邮件配置
SMTP_HOST=smtp.163.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=xxx@163.com
SMTP_PASS=password
